#listasticky, .elementsticky{
    list-style:none;

}
#listasticky{
    overflow:hidden;
    padding:4em;
}
#listasticky .elementsticky a{
    text-decoration:none;
    /*color:#000;*/
    /*background:#ffc;*/
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;

}
#listasticky .elementsticky{
    margin: 0.5em;
    float:left;

}
#listasticky .elementsticky {

    font-family: "Raleway", sans-serif;
    style: "max-width:1400px";
}

#listasticky .elementsticky a{
    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform:rotate(-6deg);
}
#listasticky .blueM a{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
    background: #a3e4ff;
}
#listasticky .yellowM a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background: #f6ff9d;
}
#listasticky .greenM a{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
    background: #aaffbb;
}
#listasticky .purpleM a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
    background: #eac8ff;
}
#listasticky .orangeM a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
    background: #ffe071;
}
#listasticky .pinkM a{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
    background: #ffcafb;
}
#listasticky .elementsticky a:hover,#listasticky .elementsticky a:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
    -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position:relative;
    z-index:5;

}
.aliniere h20{text-align:left;  }  /* asta functioneaza? exista comanda de aliniere? nu era allign aici?*/
.elementsticky{display:inline;padding-right:1em ;}
.aliniere .elementsticky a{color:#fff;}




